.navbar {
    background-color: #580883;
}

.navbar .navbar-brand {
    color: white;
}

.navbar .form-control {
    color: white;
    background-color: transparent;
    border-color: white; 
}

.navbar .form-control::placeholder {
    color: white;
}

.navbar .btn-outline-light {
    color: white;
    border-color: white;
}

.navbar .btn-outline-light:hover {
    background-color: white; 
    color: #580883;
}

.navbar-nav .nav-link {
    color: white !important;
}

.navbar-brand {
    color: white !important;
}